# OS files
.DS_Store
Thumbs.db

# Extension build artifacts
*.zip
*.xpi
*.crx

# IDE / Editor settings
.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace

# Version control
.git/

# Node/NPM
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*